<nav id="nav">
	<ul class="navlink_list">
		<li class="nav_item">
			<a href="/" class="nav_link <%= currentPage === 'home' ? 'active' : '' %>">Portfolio</a>
		</li>
		<li class="nav_item">
			<a href="/contact" class="nav_link <%= currentPage === 'contact' ? 'active' : '' %>">Contact me</a>
		</li>
	</ul>
</nav>