<%- include('./includes/head.ejs') %>
	<title>Thank you</title>
</head>

<body data-barba="wrapper">
	<div class="page_container" data-barba="container" data-barba-namespace="thank_you">
		<%- include('./includes/navigation.ejs') %>

		<div class="upper_container"></div>
		<div class="gray_upper_container"></div>
	
		<section class="thank_you">
			<div class="thank_you_text_container">
				<div class="thank_you_text">
					<h1>Thank you</h1>
		
					<p>
						for leaving a message. I'll get back to you as soon as possible.
					</p>
		
					<a href="/" class="thank_you_btn_home">
						Home
					</a>
				</div>
	
				<div></div>
			</div>
	
			<div class="thank_you_box_container">
				<div class="red_container"></div>
				<div class="gray_container"></div>
			</div>
		</section>
	</div>
<%- include('./includes/end.ejs') %>